/* my Custom stylesheet */

/* COlor Variable */
:root {
  --color-primary: #2289ff;
  --color-secondary: #314862 !important;
  --color-acent: #193f6a;
  --font-poppin: "Poppins", serif;
  --color: #ffffff;
}
/* Custom Classes */
.bg-primary {
  background-color: var(--color-primary);
}
.color-primary {
  color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.color-secondary {
  color: var(--color-secondary);
}
.bg-acent {
  background-color: var(--color-acent);
}
.color-acent {
  color: var(--color-acent);
}
.btn-theme {
  box-shadow: none;
  margin: 0;
  padding: 8px 20px;
  font-family: var(--font-poppin);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  background-color: var(--color-primary);
  color: var(--color);
  border-radius: 30px 0px 30px 30px;
  transition: 0.5s ease;
}
.btn-theme:hover {
  background-color: var(--color-acent);
  color: var(--color);
  box-shadow: none;
}
.btn-theme-2 {
  box-shadow: var(--color-primary);
  margin: 0;
  padding: 10px 30px;
  font-family: var(--font-poppin);
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  background-color: var(--color-primary);
  color: var(--color);
  border-radius: 30px;
  transition: 0.5s ease;
}
.btn-theme-2:hover {
  background-color: var(--color-acent);
  color: var(--color);
  box-shadow: none;
}

/* header style */
.header {
  width: 100%;
  margin-top: 20px;
}
.header nav.navbar {
  box-shadow: none;
  color: var(--color-secondary);
}
.header nav.navbar .navbar-brand {
  font-family: var(--font-poppin);
  font-weight: 500;
  font-size: 20px;
  color: var(--color-secondary);
}
.header nav.navbar .nav-item {
  margin: auto 5px;
}
.header nav.navbar .nav-link {
  font-family: var(--font-poppin);
  color: var(--color-secondary);
  font-weight: 500;
  padding: 10px 20px;
  transition: 0.5s ease;
}
.header nav.navbar .nav-link:hover {
  color: var(--color-primary);
}

/* Hero-banner */
#hero-banner {
  width: 100%;
  padding: 80px 0;
  color: var(--color-secondary);
  font-family: var(--font-poppin);
}
#hero-banner p {
  font-weight: 400;
  font-family: var(--font-poppin);
}
#hero-banner .image {
  border-radius: 40px 00px;
  overflow: hidden;
}

/* search */
#search-section .search-area {
  border-radius: 80px;
  padding: 15px 50px;
  font-family: var(--font-poppin);
}
#search-section .search-area select {
  padding: 5px;
  border: none;
  outline: none;
  width: 80%;
  margin-bottom: 2px;
}
#search-section .search-area input {
  border: none;
  outline: none;
}
#search-section .search-area input:focus {
  border: 1px solid var(--color-secondary);
}
#search-section .search-area button.btn-theme {
  border-radius: 30px;
  padding: 12px 40px;
}

/* about */
#about-section {
  width: 100%;
  padding: 80px 0;
  background-color: #cccc;
  font-family: var(--font-poppin);
}
#about-section h1 {
  color: var(--color-secondary);
}
#about-section .image {
  border-radius: 30px 0;
  overflow: hidden;
}
#about-section .image img {
  width: 100%;
  height: 400px;
}
#services-section {
  margin: 50px 0;
  padding: 50px 0;
  font-family: var(--font-poppin);
}
#services-section .service-show {
  padding: 50px 30px;
  text-align: center;
  border-radius: 20px;
  margin: 20px;
}
#services-section .service-show i.fa-solid {
  padding: 20px;
  background-color: #cacdd1;
  border-radius: 100%;
  width: 65px;
  font-size: 20px;
  color: var(--color-primary);
  text-align: center;
}
#property {
  width: 100%;
  padding: 50px 0;
  background-color: #cccc;
  font-family: var(--font-poppin);
  color: var(--color-secondary);
}
#property .right,
#property .right a {
  float: right;
  text-decoration: none;
}
#property #property-slider {
  width: 100%;
  margin-top: 70px;
  padding: 20px;
}
/* list property Slider */
#property-slider .swiper {
  width: 100%;
  height: 100%;
}
#property-slider .swiper-slide {
  background-color: #ffffff;
}
#property-slider img {
  width: 100%;
  height: 270px;
}
#property-slider .swiper-slide .card .body {
  margin-top: 20px;
}
#property-slider .card .body .card-text {
  color: var(--color-primary);
  padding-top: 10px;
  font-weight: 600;
  font-family: var(--font-poppin);
}
hr {
  margin-top: 50px;
  width: 80%;
}
.find-more {
  border: 1px solid var(--color-primary);
  padding: 15px;
  margin-left: 160px;
  text-decoration: none;
}
.find-more:hover {
  background-color: var(--color-primary);
  color: var(--color);
}
.light {
  padding-top: 20px;
}
/* our team */

#team-section {
  margin: 50px 0;
  padding: 50px 0;
  font-family: var(--font-poppin);
}
#team-section .service-show {
  padding: 50px 30px;
  text-align: center;
  border-radius: 20px;
  margin: 35px;
}
#team-section .service-show img {
  border-radius: 100%;
  padding: 10px;
  width: 100%;
  text-align: center;
}
#h4 {
  margin-top: 10px;
  color: var(--color-primary);
}
#test .card {
  margin: 10px 20px;
}
#test .card .card-body p {
  font-family: var(--font-poppin);
  font-style: italic;
}
#footer {
  background-color: var(--color-primary);
}
.copyright {
  text-align: center;
}
.hr {
  width: 100%;
}
ul a {
  text-decoration: none;
  color: black;
}

ul a:hover {
  text-decoration: none;
  color: black;
}
#footer ul li {
  padding: 5px 0;
}

/* rent */
#property .cente {
  text-align: center;
}
#property {
  width: 100%;
  padding: 50px 0;
  background-color: #cccc;
  font-family: var(--font-poppin);
  color: var(--color-secondary);
}

#property-slider1 {
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  background-color: var(--color);
}
/* list property Slider */
#property-slider1 .swiper {
  width: 100%;
  height: 100%;
}
#property-slider1 .swiper-slider {
  background-color: #ffffff;
}
#property-slider1 img {
  width: 100%;
  height: 270px;
}
#property-slider1 .swiper-slide .card .body {
  margin-top: 20px;
}
#property-slider1 .card .body .card-text {
  color: var(--color-primary);
  padding-top: 10px;
  font-weight: 600;
  font-family: var(--font-poppin);
}

/* contact */
#contact h1 {
  margin: 30px 10px;
  font-size: 50px;
  font-family: var(--font-poppin);
  font-weight: bold;
}

#contact img {
  margin: 30px 0;
  width: 100%;
  height: 500px;
}
#flat .col-md-2,
#flat .col-md-3 {
  margin: 20px 0;
  padding: 20px;
  text-align: center;
}
#price {
  background-color: #e9e7e7;
  padding: 20px 0;
  margin: 20px;
}
#price #button {
  padding: 15px 35px;
}
#con #one {
  background-color: #e9e7e7;
  padding: 30px;
}
#con button {
  margin: 10px 20px;
  padding: 10px 20px;
}
.iframe {
  padding: 20px 0;
  height: 820px;
  width: 100%;
}

#card h3 {
  text-align: center;
  padding-bottom: 20px;
}
#card .card {
  margin: 10px 10px;
}
#card img {
  width: 100%;
  height: 200px;
  margin-top: 0;
}
#card .card .card-title {
  text-align: center;
}
